.topbar {
    height: 7%;
    width: calc(100% - 268px);
    right: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #1877F2;
    color: white;
    -webkit-box-shadow: 0px 1px 5px 2px gray; 
    box-shadow: 0px 1px 5px 2px gray;
    z-index: 999;
}

.topbar-left, .topbar-right {
    padding: 0 30px;
}

.welcome-user {
    font-weight: 700;
    font-size: 26px;
}

.user_name {
    font-size: 14px;
}

.date {
    font-weight: 700;
    font-size: 20px; 
}
